<md-button md-no-ink aria-label="Connection status" class="connection"
           ng-class="{'not-ready': !irc.ready, 'ready': irc.ready}">
	<md-tooltip md-autohide md-direction="right">
		Status: {{irc.ready? 'Connected' : 'Connecting'}}
	</md-tooltip>
	<i class="zmdi zmdi-swap-vertical"></i>
</md-button>

<md-button ng-click="confirmLogout($event)" aria-label="Sign out">
    <md-tooltip md-autohide md-direction="right">
        {{settings.identity.username | capitalize}}: Sign out
    </md-tooltip>
    <i class="zmdi zmdi-account"></i>
</md-button>

<md-button ng-click="settingsGui.show($event)" aria-label="Settings">
    <md-tooltip md-autohide md-direction="right">
        Settings
    </md-tooltip>
    <i class="zmdi zmdi-settings"></i>
</md-button>

<md-divider class="vertical"></md-divider>

<span flex></span>

<md-button md-no-ink class="update" aria-label="Update" ng-if="m.updateAvailable">
    <md-tooltip md-autohide>
        Update is ready. Restart Tc to install it.
    </md-tooltip>
    <i class="zmdi zmdi-download"></i>
</md-button>

<md-button ng-click="settings.appearance.thumbnail = true" aria-label="Show thumbnail" ng-if="showingThumbnailButton()">
    <md-tooltip md-autohide>
        Show thumbnail
    </md-tooltip>
    <i class="zmdi zmdi-tv-play"></i>
</md-button>

<md-button ng-click="openChannel()" aria-label="Go to channel" ng-if="channel()">
    <md-tooltip md-autohide>
        Go to Channel
    </md-tooltip>
    <i class="zmdi zmdi-open-in-new"></i>
</md-button>

<md-button ng-click="leave()" aria-label="Leave channel" ng-if="channel()">
    <md-tooltip md-autohide>
        Leave Channel
    </md-tooltip>
    <i class="zmdi zmdi-close"></i>
</md-button>

<md-button class="collapse-button" ng-click="toggleCollapsed()" aria-label="Small sidebar"
        ng-class="{collapsed: settings.appearance.sidebarCollapsed}">
    <md-tooltip md-autohide ng-if="!settings.appearance.sidebarCollapsed">
        Collapse sidebar
    </md-tooltip>
    <md-tooltip md-autohide md-direction="right" ng-if="settings.appearance.sidebarCollapsed">
        Expand sidebar
    </md-tooltip>

    <i class="zmdi zmdi-chevron-left"></i>
</md-button>