html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	/*noinspection CssUnknownProperty*/
	/*-webkit-app-region: drag*/
	border: 1px solid #e1e1e1;
}

::-webkit-scrollbar{width: 7px;}
::-webkit-scrollbar-thumb{background-color:rgb(196, 196, 196); border-radius: 3px;}
::-webkit-scrollbar-thumb:hover{background-color: rgb(152, 152, 152);}

chat {
	display: block;
	height: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.chatter-tabs md-tabs-wrapper {
	display: none;
}

.chatter-tabs md-tabs-content-wrapper {
	top: 0;
}
