<h1 class="md-headline">Highlighted Phrases</h1>
<p>You may add words and phrases to make them stand out in chat and show up as desktop notifications. Matches are not case sensitive.</p>

<md-switch ng-model="m.highlightMe" aria-label="Highlight Self" ng-change="changeHighlightMe()">
    Highlight my own name
</md-switch>

<md-list class="phrase-list">
    <md-list-item class="item" ng-repeat="highlight in highlights track by $index">
        <md-button class="close-button md-raised md-warn" ng-click="delete($index)">
            <md-tooltip md-autohide md-direction="right">
                Delete this phrase
            </md-tooltip>
            <i class="mdi mdi-close"></i>
        </md-button>
        <p>{{highlight}}</p>
    </md-list-item>
</md-list>

<form class="input-form" ng-submit="add()">
    <md-input-container>
        <label>Add a new phrase. Supports regex</label>
        <input ng-model="m.input">
    </md-input-container>
</form>