.dark,
.dark md-dialog {
  background-color: rgb(30, 30, 30);
  color: #D3D3D3;
}

/* Apparently people don't like this */
/*.dark .md-whiteframe-z2 {
  box-shadow: 0 2px 4px -1px rgba(255, 255, 255, 0.14),
    0 4px 5px 0 rgba(255, 255, 255, 0.098),
    0 1px 10px 0 rgba(255, 255, 255, 0.084);
}

.dark md-tabs md-tabs-wrapper {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark md-divider {
  border-top-color: rgba(255, 255, 255, 0.12);
}*/

.dark :hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.35);
}

.dark md-content {
  color: inherit;
  background-color: inherit;
}

.dark .md-input {
  color: inherit !important;
}

.dark .md-subheader {
  color: inherit;
  background-color: inherit;
}

.dark md-list.md-default-theme md-list-item button {
  background-color: inherit;
}

.dark md-input-container label {
  color: rgba(255, 255, 255, 0.46) !important;
}

.dark md-tabs .md-tab {
  color: rgba(255, 255, 255, 0.54);
}

.dark md-tabs .md-tab.md-active {
  color: rgb(102, 125, 255);
}

.dark md-tabs.md-default-theme md-ink-bar {
  background: rgba(255, 64, 129, 0.45);
}

.dark md-input-container .md-input {
  //border-color: rgba(255, 255, 255, 0.30) !important;
}

.dark settings-panel {
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.dark chatters .chatter {
  color: rgba(255, 255, 255, 0.54);
}