side-toolbar
  min-height: 34px

  .zmdi
    vertical-align: -3px

  md-divider.vertical
    display: inline
    border-top-style: none
    border-right: 1px solid rgba(0, 0, 0, 0.12)

  .md-button
    min-width: 0
    border-radius: 0 !important
    margin: 0
    line-height: 34px
    min-height: 34px

  .connection
    cursor: default

  .connection.not-ready
    color: #c6a600

  .collapse-button
    margin-left: 10px

  .collapse-button i
    transition: transform 350ms 300ms ease-out

  .collapse-button.collapsed i
    transform: rotate(180deg)

  .update
    color: #FF9A40

