<md-sidenav class="settings-sidebar md-sidenav-left md-whiteframe-z2 menu" md-is-locked-open="true">

    <md-list>
        <md-subheader class="md-no-sticky">Settings</md-subheader>

        <!-- TODO refactor this awful repetition -->

        <md-list-item class="menu-item" ng-click="m.selected = 'highlights'" ng-class="{selected: m.selected === 'highlights'}">
            <p>Highlights</p>
        </md-list-item>
        <md-list-item class="menu-item" ng-click="m.selected = 'notifications'" ng-class="{selected: m.selected === 'notifications'}">
            <p>Notifications</p>
        </md-list-item>
        <md-list-item class="menu-item" ng-click="m.selected = 'chat'" ng-class="{selected: m.selected === 'chat'}">
            <p>Chat</p>
        </md-list-item>
        <md-list-item class="menu-item" ng-click="m.selected = 'appearance'" ng-class="{selected: m.selected === 'appearance'}">
            <p>Appearance</p>
        </md-list-item>
        <md-list-item class="menu-item" ng-click="m.selected = 'about'" ng-class="{selected: m.selected === 'about'}">
            <p>About</p>
        </md-list-item>
    </md-list>

</md-sidenav>

<div flex class="settings-content" ng-switch on="m.selected" layout="column">

    <md-content ng-switch-when="highlights">
        <highlights-options></highlights-options>
    </md-content>

    <md-content ng-switch-when="notifications">
        <notification-options></notification-options>
    </md-content>

    <md-content ng-switch-when="chat">
        <chat-options></chat-options>
    </md-content>

    <md-content ng-switch-when="appearance">
        <h1 class="md-headline">Theme Options</h1>

        <md-switch ng-model="settings.theme.dark">
            Use dark theme
        </md-switch>

        <md-divider></md-divider>

        <h1 class="md-headline">Zoom Level</h1>

        <div layout>
            <span class="slider-label" layout layout-align="center center">{{zoomLabel()}}</span>
            <md-slider flex md-discrete ng-model="settings.appearance.zoom"
                       min="100" max="175" step="5" aria-label="Zoom"></md-slider>
        </div>
    </md-content>

    <md-content flex ng-switch-when="about" layout="column" layout-align="center center">
        <img  style="width: 150px;" src="assets/icon256.png">

        <h1 class="md-headline">Tc, the chat client for Twitch</h1>
        <p>
            <span>Version: {{m.version}}</span> |
            <a href-external="http://gettc.xyz/">Website link</a>
        </p>
    </md-content>
</div>