chat-input {
	display: block;
    overflow: hidden;
}

chat-input md-input-container.disabled {
    background-color: rgba(0, 0, 0, .05);
}

chat-input .input-container {
	padding-bottom: 0;
	margin-top: -23px;
}

chat-input .input-container label {
	padding-left: 20px !important;
	margin-bottom: -3px;
	padding-top: 7px;
}

chat-input .input-container .md-input {
    transition: border-color 300ms;
	border-color: transparent;
	padding-left: 20px;
}

chat-input .md-input-has-value label,
chat-input .md-input-focused label {
	opacity: 0;
}