chatters {
    -webkit-user-select: text;
    user-select: text;
	display: block;
	font-size: 1.2rem;
}

chatters .md-button {
	font-size: 1.2rem;
}

chatters h3 {
	margin: 5px 0 0;
	font-size: 1.4rem;
}

chatters .show-more-button {
	width: 100%;
	margin: 0;
	text-align: left;
	text-transform: none;
	padding: 0;
}

chatters .usernames > * > * {
    cursor: pointer;
    outline: none;
}

chatters .usernames > * > *:hover {
    text-decoration: underline;
}