<div ng-repeat="(key, value) in api.chatters">
	<h3 ng-if="value.length">{{key | prettyChatterType}}</h3>
	<div class="usernames">
        <!-- Not DRY because this has better performance -->
		<div ng-if="key !== 'viewers'">
            <div ng-repeat="username in value">
                <span class="chatter" ng-click="selectUser(username)">{{username}}</span>
            </div>
        </div>
		<div ng-if="key === 'viewers'">
            <div ng-repeat="username in value | limitTo: showViewers()? Infinity : 0">
                <span class="chatter" ng-click="selectUser(username)">{{username}}</span>
            </div>
        </div>
		<div ng-if="key === 'viewers' && !showViewers()" >
			<md-button class="show-more-button" ng-click="showViewers(true)">
				Too many, show all? <i class="mdi mdi-expand-more"></i>
			</md-button>
		</div>
	</div>
</div>