<div class="content slide" ng-if="m.stream">
    <span class="title" title="{{m.channel.status}}">
        {{m.channel.status}}
    </span>
  <div class="hover-content" layout="row" layout-align="center center">
    <i class="zmdi zmdi-hearing play"
       ng-if="m.streamlink || m.livestreamer"
       ng-click="playMediaplayer(true)"
    >
      <md-tooltip md-autohide>
        Audio Only
      </md-tooltip>
    </i>
    <i class="zmdi zmdi-play-circle-outline play"
       ng-if="m.streamlink || m.livestreamer"
       ng-click="playMediaplayer()"
    >
      <md-tooltip md-autohide>
        {{m.streamlink ? 'Streamlink' : 'Livestreamer'}}
      </md-tooltip>
    </i>
    <i class="zmdi zmdi-open-in-new play" ng-click="playTwitch()">
      <md-tooltip md-autohide>
        Twitch
      </md-tooltip>
    </i>

    <md-button ng-click="settings.appearance.thumbnail = false"
               aria-label="Hide thumbnail" class="hide-button">
      <md-tooltip md-autohide>
        Hide thumbnail
      </md-tooltip>
      <i class="zmdi zmdi-close"></i>
    </md-button>

  </div>
  <div class="footer">
    <span class="host-button" ng-click="host()" ng-if="!m.hosting">
      Host <i class="zmdi zmdi-thumb-up"></i>
    </span>
    <span class="host-button" ng-click="unhost()" ng-if="m.hosting">
      Unhost
    </span>
    <span class="followers">
      <i class="zmdi zmdi-favorite"></i> {{m.channel.followers}}
    </span>
    <span class="viewers">
      <i class="zmdi zmdi-account"></i> {{m.stream.viewers}}
    </span>
  </div>
  <img class="preview" ng-src="{{m.img}}"></div>
<md-divider ng-if="m.stream"></md-divider>