thumbnail
  color: #e1e1e1

thumbnail img
  display: block

thumbnail i
  outline: none

thumbnail .content
  position: relative
  min-height: 100px

thumbnail .hover-content
  width: 100%
  height: 100%
  position: absolute
  opacity: 0
  background-color: rgba(0, 0, 0, 0.25)
  transition: all 250ms ease-out

thumbnail .hover-content .play
  font-size: 35px
  margin: 10px

thumbnail:hover .hover-content
  opacity: 1

thumbnail .viewers i
  vertical-align: -1px

thumbnail .hover-content i
  cursor: pointer

thumbnail .title
  font-size: 1.2rem
  white-space: nowrap
  width: 100%
  overflow: hidden
  text-overflow: ellipsis
  position: absolute
  padding: 3px 8px
  background-color: rgba(0, 0, 0, .4)

thumbnail .footer
  font-size: 1.1rem
  position: absolute
  bottom: 8px
  right: 8px
  padding: 3px
  background-color: rgba(0, 0, 0, .5)

thumbnail .viewers i
  color: red

thumbnail .preview
  width: 100%

thumbnail .hide-button
  position: absolute
  right: 0
  top: 0
  padding: 0 6px
  min-width: 0
  min-height: 0 !important
  margin: 0
  border-radius: 0
  line-height: 24px
  transition: opacity 250ms ease-out

thumbnail:hover .hide-button
  opacity: 1

thumbnail .host-button
  outline: none
  margin-right: 2px
  cursor: pointer
  border: 1px solid transparent
  border-radius: 2px
  display: inline-block

thumbnail .host-button:hover
  border-color: rgba(255, 255, 255, 0.65)

thumbnail .followers
  margin-right: 2px

thumbnail .game
  display: inline-block
  overflow: hidden
  text-overflow: ellipsis
  max-width: 150px
  white-space: nowrap
  margin: 1px 1px 0 1px

thumbnail .footer i
  margin-right: 4px

thumbnail .footer span
  margin-right: 6px

