<div class="user-menu-container" layout="row" ng-if="shouldDisplay()">

    <div class="profile-picture-div">
        <img ng-if="m.profilePicSrc" ng-src="{{m.profilePicSrc}}" class="profile-picture">
    </div>


    <div class="buttons-container" flex layout="column">

        <div class="row" layout="row">
            <span class="username">{{session.selectedUser | capitalize}}</span>
            <span flex></span>
            <md-button class="close-button" ng-click="close()" aria-label="Close">
                <md-tooltip md-autohide>Close</md-tooltip>
                <i class="mdi mdi-close"></i>
            </md-button>
        </div>

        <div class="row lighter creation-date">
            <md-tooltip md-autohide>Registration date</md-tooltip>
            Since {{m.created | date: 'MMM d, y'}}
        </div>

        <div class="toolbar" layout="row">

            <md-button ng-click="goToChannel()" aria-label="Their channel">
                <md-tooltip md-autohide>Their Channel</md-tooltip>
                <i class="mdi mdi-open-in-new"></i>
            </md-button>

            <md-button ng-click="sendMessage()" aria-label="Message">
                <md-tooltip md-autohide>Private Message</md-tooltip>
                <i class="mdi mdi-mail"></i>
            </md-button>

            <span flex></span>

            <span ng-class="{lighter: !amMod()}">

                <md-button ng-click="purge()" aria-label="Purge">
                    <md-tooltip md-autohide>Purge (3s)</md-tooltip>
                    <i class="mdi mdi-timer-3"></i>
                </md-button>

                <md-button ng-click="timeout()" aria-label="Timeout">
                    <md-tooltip md-autohide>Timeout (10m)</md-tooltip>
                    <i class="mdi mdi-history"></i>
                </md-button>

                <md-button ng-click="ban()" aria-label="Ban">
                    <md-tooltip md-autohide>Ban</md-tooltip>
                    <i class="mdi mdi-block"></i>
                </md-button>

            </span>

        </div>
    </div>
</div>

<md-divider ng-if="shouldDisplay()"></md-divider>