<md-tabs class="chat-tabs" flex md-selected="settings.selectedTabIndex" md-border-bottom>
	<md-tab ng-repeat="channel in settings.channels" label="{{channel}}"
            md-on-select="load(channel, true)"
            md-on-deselect="load(channel, false); hideTemporarily(channel)">
		<chat-output channel="channel" ng-hide="hidden[channel]" ng-if="loaded[channel]"></chat-output>
	</md-tab>
	<md-tab>
		<md-tab-label>
			<i class="mdi mdi-add mdi-lg"></i>
		</md-tab-label>
		<md-tab-body>
			<add-channel></add-channel>
		</md-tab-body>
	</md-tab>
</md-tabs>