chat-input {
	display: block;
}

chat-input .input {
	padding-bottom: 0;
	margin-top: -23px;
}

chat-input .input label {
	padding-left: 20px !important;
	margin-bottom: -3px;
	padding-top: 7px;
}

chat-input .input .md-input {
	border-color: transparent;
	padding-left: 20px;
}

chat-input .md-input-has-value label,
chat-input .md-input-focused label {
	opacity: 0;
}