chatters-tabs
  height: 10px
  overflow-y: auto
  position: relative

  &:not(:hover) .hide-button
    opacity: 0

  &.collapsed
    .chatters-tabs
      overflow: hidden
      flex: none
      height: 24px

      & > *:not(.toggle-button)
        opacity: 0

  md-tabs-wrapper
    display: none !important

  md-tabs-content-wrapper
    top: 0 !important

  md-tab-content
    padding: 10px

  md-tabs:not(.md-no-tab-content)
    min-height: 0 !important
    height: auto !important

  .toggle-button
    position: absolute
    right: 0
    top: 0
    padding: 0 6px
    min-width: 0
    min-height: 0 !important
    margin: 0
    border-radius: 0
    line-height: 24px
    transition: opacity 250ms ease-out

    &:not([disabled]):hover
      background-color: inherit

    i
      transition: transform 350ms 300ms ease-out

    &.collapsed i
      transform: rotate(180deg)
