chatters-tabs {
	overflow-y: auto;
}

chatters-tabs md-tabs-wrapper {
	display: none !important;
}

chatters-tabs md-tabs-content-wrapper {
	top: 0 !important;
}

chatters-tabs md-tab-content {
	transition: none !important;
	-webkit-animation: none !important;
	animation: none !important;
	padding: 10px;
}

chatters-tabs md-tabs:not(.md-no-tab-content) {
	min-height: 0 !important;
	height: auto !important;
}