<md-button md-no-ink aria-label="Connection status" class="connection {{connectionStatus()}}">
	<md-tooltip md-autohide md-direction="right">
		Status: {{connectionStatus()}}
	</md-tooltip>
	<i class="mdi mdi-swap-vert"></i>
</md-button>

<md-button ng-click="confirmLogout()" aria-label="Sign out">
    <md-tooltip md-autohide md-direction="right">
        {{settings.identity.username | capitalize}}: Sign out
    </md-tooltip>
    <i class="mdi mdi-person"></i>
</md-button>

<md-button ng-click="settingsGui.showPanel($event)" aria-label="Settings">
    <md-tooltip md-autohide md-direction="right">
        Settings
    </md-tooltip>
    <i class="mdi mdi-settings"></i>
</md-button>

<md-divider class="vertical"></md-divider>

<span flex></span>

<md-button ng-click="leave()" aria-label="Leave channel" ng-if="channel()">
	<md-tooltip md-autohide>
		Leave Channel
	</md-tooltip>
	<i class="mdi mdi-close"></i>
</md-button>

<md-button ng-click="openStream()" aria-label="Stream popout" ng-if="channel()">
	<md-tooltip md-autohide>
		Stream Popout
	</md-tooltip>
	<i class="mdi mdi-slideshow"></i>
</md-button>

<md-button ng-click="openChannel()" aria-label="Go to channel" ng-if="channel()">
	<md-tooltip md-autohide>
		Go to Channel
	</md-tooltip>
	<i class="mdi mdi-open-in-new"></i>
</md-button>