login {
	
}

login .login-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: #baeeff;
}

login .form {
	width: 250px;
	border-radius: 3px;
	background-color: #ffffff;
	position: relative;
}

login .login-button {
	position: absolute;
	bottom: -39px;
	right: 9px;
}

login .login-button i {
	margin-top: 7px;
}

login .error {
	color: rgb(244,67,54);
	font-size: 12px;
	line-height: 24px;
	margin-bottom: 15px;
}