<h1 class="md-headline">Chat options</h1>

<md-switch ng-model="opts.timestamps">
    Show time stamps
</md-switch>

<form class="input-form" ng-submit="add()">
    <md-input-container>
        <label>Add a new user to ignore</label>
        <input ng-model="ignoreInput">
    </md-input-container>
</form>

<md-list class="phrase-list">
    <md-list-item class="item" ng-repeat="ignore in opts.ignored track by $index">
        <md-button class="close-button md-raised md-warn" ng-click="delete($index)">
            <md-tooltip md-autohide md-direction="right">
                Delete this user
            </md-tooltip>
            <i class="zmdi zmdi-close"></i>
        </md-button>
        <p>{{ignore}}</p>
    </md-list-item>
</md-list>
<!--
<md-input-container>
    <label>Chat lines shown</label>
    <input type="number" ng-model="opts.maxChatLines">
</md-input-container>-->
