<md-sidenav class="md-sidenav-left md-whiteframe-z2 menu" md-is-locked-open="true">

    <md-list>
        <md-subheader class="md-no-sticky">Settings</md-subheader>
        <md-list-item class="menu-item"
                      ng-repeat="item in items | orderBy: 'name'"
                      ng-click="m.selected = $index"
                      ng-class="{selected: m.selected === $index}">
            <p>{{item.name}}</p>
        </md-list-item>
    </md-list>

</md-sidenav>

<md-content flex class="settings-content" ng-repeat="item in items" ng-if="$index === m.selected" bind-html-compile="item.html"></md-content>