chat-output .emoticon[data-emote-name="IceCold"] {
  max-height: unset;
  margin-left: -35px;
}

chat-output .emoticon[data-emote-name="SantaHat"] {
  max-height: unset;
  margin-left: -34px;
  margin-bottom: -1px;
}

chat-output .emoticon[data-emote-name="TopHat"] {
  max-height: unset;
  margin-left: -32px;
  margin-bottom: -2px;
}

chat-output .emoticon[data-emote-name="SoSnowy"],
chat-output .emoticon[data-emote-name="CandyCane"],
chat-output .emoticon[data-emote-name="ReinDeer"] {
  max-height: unset;
  margin-left: -33px;
}

chat-output .emoticon[data-emote-name="HalloFedora"],
chat-output .emoticon[data-emote-name="HalloWitch"],
chat-output .emoticon[data-emote-name="HalloKKona"],
chat-output .emoticon[data-emote-name="HalloHalo"],
chat-output .emoticon[data-emote-name="HalloPirate"],
chat-output .emoticon[data-emote-name="HalloHorns"] {
  max-height: unset;
  margin-left: -32px;
}