<!-- Awkward indentation to avoid any whitespace -->

<div
  class="chat-lines"
  ng-class="{'variable-line-height': settings.appearance.variableLineHeight}"
>
  <div
    class="chat-line"
    ng-repeat="m in messages"
    ng-class="::{
      'from-backlog': m.fromBacklog,
      highlighted: m.highlighted,
      deleted: m.deleted,
      whisper: m.type === 'whisper',
      notification: m.type === 'notification',
      odd: m._isOdd
    }"
    ng-style="::m.type === 'action'? {'color': calculateColor(m.user.color)} : {}"
  ><!--
	---><span class="timestamp lighter" ng-if="::settings.chat.timestamps">{{::m.at | date: 'H:mm'}}&nbsp;&nbsp;</span><!--
    ---><span class="badges" ng-if="::m.user"><!--
        ---><span
              ng-repeat="(name, version) in ::m.user.badges"
              class="badge"
              data-title="{{::badgeTitle(name, version)}}"
              ng-style="::badgeBg(name, version)"
            ></span><!--
        ---><span class="badge ffz" data-title="FFZ Supporter" ng-if="::m.user['ffz_donor']"></span><!--
    ---></span><!--
    ---><span class="username" ng-if="::m.user" ng-click="selectUsername(m.user.username)" ng-style="::{color: calculateColor(m.user.color)}">{{::m.user['display-name']}}</span><!--
    ---><span class="username" ng-if="::!m.user && m.type === 'whisper'" ng-click="selectUsername(m.from)">{{::m.from}}</span><!--
    ---><svg class="svg-whisper-arrow" ng-if="::m.type === 'whisper'" version="1.1" width="16px" height="10px"><polyline points="6 2, 10 6, 6 10, 6 2"></polyline></svg><!--
    ---><span class="username" ng-if="::m.type === 'whisper'" ng-click="selectUsername(m.to)">{{::m.to}}</span><!--
    ---><span class="separator" ng-if="::m.type === 'chat' || m.type === 'whisper' || m.type === 'cheer'">:&nbsp;</span><!--
    ---><span class="separator" ng-if="::m.type === 'action'">&nbsp;</span><!--
    ---><span class="message" ng-bind-html="::trusted(m.message)"></span>
  </div>
  <div class="auto-scroll-notice" ng-if="!autoScroll()" ng-click="scrollDown()">
    More messages below
  </div>
</div>