<form ng-submit="input()">
  <md-input-container class="input-container" ng-class="{disabled: !irc.ready}">
    <label>
      <span ng-if="irc.ready">Send a message</span>
      <span ng-if="!irc.ready">Disconnected from server</span>
    </label>
    <input id="main-input"
           spellcheck="true"
           ng-disabled="!irc.ready"
           ng-model="session.message"
           ng-trim="false"
           ng-focus="session.inputFocused = true"
           ng-blur="session.inputFocused = false"
           ng-change="change()"
           ng-keyup="keyUp($event)"
           tab-completion tab-completion-fn="getAutoCompleteStrings()">
  </md-input-container>
</form>