chat-input {
  display: block;
  position: relative;
}

chat-input .overflow-container {
  overflow: hidden;
}

chat-input md-input-container.disabled {
  background-color: rgba(0, 0, 0, .05);
}

chat-input .input-container {
  padding-bottom: 0;
  margin-top: -23px;
}

chat-input .input-container label {
  padding-left: 20px !important;
  padding-top: 7px;
  margin-bottom: 4px;
  margin-top: -3px;
}

chat-input .input-container .md-input {
  transition: border-color 300ms;
  border-color: transparent;
  padding-left: 20px;
}

chat-input .md-input-has-value label,
chat-input .md-input-focused label {
  opacity: 0;
}

chat-input .emote-menu-button {
  bottom: 5px;
  right: 10px;
  opacity: 0.2;
  z-index: 6666;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
}

chat-input .emote-menu-button:hover {
  opacity: 0.6;
}