side-toolbar .mdi {
	vertical-align: -3px;
}

side-toolbar md-divider.vertical {
	display: inline;
	border-top-style: none;
	border-right: 1px solid rgba(0, 0, 0, 0.12);
}

side-toolbar .md-button {
	min-width: 0;
	border-radius: 0 !important;
	margin: 0;
	line-height: 35px;
}

side-toolbar .cp-toolbar {
	line-height: 35px;
}