chatters-tabs md-tabs-wrapper {
	display: none !important;
}

chatters-tabs md-tabs-content-wrapper {
	top: 0 !important;
}

chatters-tabs md-tab-content {
	-webkit-transition: none !important;
	transition: none !important;
	overflow-y: auto;
	padding: 10px;
}