settings-panel .menu {
    width: 150px;
    min-width: 0;
    max-width: none;
}

settings-panel .settings-content {
    overflow-y: auto;
    padding: 15px;
}

settings-panel .menu-item .md-button {
    border-radius: 0 !important;
}

settings-panel .menu-item .md-button:hover {
    background-color: rgba(0 ,0 ,0, 0.1) !important;
}

settings-panel .selected .md-button {
    background-color: rgba(0 ,0 ,0, 0.2) !important;
}

settings-panel .slider-label {
    padding-right: 10px;
}