<!-- TODO refactor this awful repetition -->

<md-sidenav class="md-sidenav-left md-whiteframe-z2 menu" md-is-locked-open="true">

    <md-list>
        <md-subheader class="md-no-sticky">Settings</md-subheader>

        <md-list-item class="menu-item" ng-click="m.selected = 'highlights'" ng-class="{selected: m.selected === 'highlights'}">
            <p>Highlights</p>
        </md-list-item>
        <md-list-item class="menu-item" ng-click="m.selected = 'notifications'" ng-class="{selected: m.selected === 'notifications'}">
            <p>Notifications</p>
        </md-list-item>
        <md-list-item class="menu-item" ng-click="m.selected = 'chat'" ng-class="{selected: m.selected === 'chat'}">
            <p>Chat</p>
        </md-list-item>
        <md-list-item class="menu-item" ng-click="m.selected = 'theme'" ng-class="{selected: m.selected === 'theme'}">
            <p>Dark theme</p>
        </md-list-item>
        <md-list-item class="menu-item" ng-click="m.selected = 'tray'" ng-class="{selected: m.selected === 'tray'}">
            <p>Tray icon</p>
        </md-list-item>
        <md-list-item class="menu-item" ng-click="m.selected = 'about'" ng-class="{selected: m.selected === 'about'}">
            <p>About</p>
        </md-list-item>
    </md-list>

</md-sidenav>

<md-content flex class="settings-content" ng-if="m.selected === 'highlights'">
    <highlights-options></highlights-options>
</md-content>

<md-content flex class="settings-content" ng-if="m.selected === 'notifications'">
    <notification-options></notification-options>
</md-content>

<md-content flex class="settings-content" ng-if="m.selected === 'chat'">
    <chat-options></chat-options>
</md-content>

<md-content flex class="settings-content" ng-if="m.selected === 'theme'">
    <h1 class="md-headline">Theme Options</h1>

    <md-switch ng-model="settings.theme.dark">
        Use dark theme
    </md-switch>
</md-content>

<md-content flex class="settings-content" ng-if="m.selected === 'tray'">
    <h1 class="md-headline">Tray Icon Options</h1>

    <p>You may always click the tray icon to hide the window.</p>

    <md-switch ng-model="settings.tray.minimizeToTray">
        Minimize to tray area
    </md-switch>

    <md-switch ng-model="settings.tray.closeToTray">
        Close to tray area
    </md-switch>
</md-content>

<md-content flex class="settings-content" ng-if="m.selected === 'about'" layout="column" layout-align="center center">
    <img  style="width: 150px;" src="assets/icon256.png">

    <h1 class="md-headline">Tc, the chat client for Twitch</h1>
    <p>
        <span>Version: {{m.version}}</span> |
        <a href-external="http://mccxiv.github.io/tc/">Website link</a>
    </p>
</md-content>