settings-panel {
  overflow: auto;
}

settings-panel md-list-item {
  min-height: 30px;
}

settings-panel .menu {
  /* Need all three to overwrite defaults */
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}

settings-panel .settings-content > * {
  padding: 15px;
}

settings-panel .menu-item .md-button {
  border-radius: 0 !important;
}

settings-panel .menu-item .md-button:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

settings-panel .selected .md-button {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

settings-panel .slider-label {
  padding-right: 10px;
}

settings-panel .highlights .item {
  font-size: 1.4rem;
  cursor: default;
}

settings-panel .close-button {
  width: 26px;
  min-width: 0;
  line-height: 2.5rem;
  height: 2.5rem;
}

settings-panel md-input-container {
  width: 300px;
}

settings-panel .tc h1 {
  margin-bottom: 0;
}

settings-panel .shortcuts .new-shortcut-form {
  display: flex;
  flex-direction: row;
}

settings-panel .shortcuts .new-shortcut-form md-input-container:first-child {
  width: 150px;
}

settings-panel .shortcuts .new-shortcut-form md-input-container:nth-child(2) {
  width: 250px;
}

settings-panel md-list-item.md-clickable:hover {
  cursor: default;
}

settings-panel .shortcuts .new-shortcut-form {
  padding-left: 16px;
}

settings-panel .shortcuts > p {
  padding-left: 16px;
}

settings-panel .shortcuts .shortcut-name {
  width: 75px;
  display: inline-block;
  text-align: right;
  padding-right: 15px;
}