md-dialog.settings-gui-dialog
  md-content.settings-gui-dialog-content(layout-fill='', layout='column')
    settings-panel(flex='')
  md-button.settings-close-button.md-fab.md-mini(
    ng-click='close()',
    aria-label='Close'
  )
    i.zmdi.zmdi-close
