chat-tabs {
	display: block;
}

/* TODO geting rid of animations for performance, it's dirty */
chat-tabs md-tab-content {
	/*transition: transform 0s 3s !important;*/
	transition: none !important;
	-webkit-animation: none !important;
	animation: none !important;
}

chat-tabs .chat-tabs {
	height: 100%;
}