<md-tabs flex
         class="chat-tabs"
         md-selected="settings.selectedTabIndex"
         md-border-bottom>
  <md-tab md-on-select="selected(channel)"
          md-on-deselect="deselected(channel)"
          ng-repeat="channel in settings.channels">
    <md-tab-label>
      <i
          ng-click="moveLeft($event, channel)"
          class="zmdi zmdi-chevron-left move-arrow left"
      ></i>
      <i
          class="zmdi zmdi-circle live-indicator"
          ng-if="live(channel) === 'live'"
      ></i>
      <i
          class="zmdi zmdi-replay rerun-indicator"
          ng-if="live(channel) === 'rerun'"
      ></i>
      {{channel}}
      <span class="counter">{{unread(channel)}}</span>
      <i
          ng-click="moveRight($event, channel)"
          class="zmdi zmdi-chevron-right move-arrow right"
      ></i>
    </md-tab-label>
    <md-tab-body>
      <chat-output channel="channel"
                   ng-hide="hidden[channel]"
                   ng-if="loaded[channel]">
      </chat-output>
    </md-tab-body>
  </md-tab>
  <md-tab>
    <md-tab-label>
      <i class="zmdi zmdi-plus zmdi-lg"></i>
      <md-tooltip md-direction="left">
        New ({{::m.hotkey}} + n)
      </md-tooltip>
    </md-tab-label>
    <md-tab-body>
      <add-channel ng-if="showingAddChannel()"></add-channel>
    </md-tab-body>
  </md-tab>
</md-tabs>