chat-tabs {
  display: block;
}

chat-tabs md-pagination-wrapper {
  height: 34px;
}

chat-tabs md-tabs-canvas {
  height: 34px;
}

chat-tabs md-tabs-content-wrapper {
  top: 34px !important;
}

chat-tabs md-tab-content {
  transition: transform 0s 0s !important;
  -webkit-animation: none !important;
  animation: none !important;
}

chat-tabs .md-tab.md-focused {
  background: transparent;
}

chat-tabs md-tab-content > * {
  height: 100%;
}

chat-tabs .chat-tabs {
  height: 100%;
}

chat-tabs .md-tab {
  padding-top: 7px !important;
}

chat-tabs md-tab-label {
  position: relative;
}

chat-tabs .counter {
  top: 7px;
  width: 0;
  right: 20px;
  font-size: 1.0rem;
  position: absolute;
  opacity: 0.65;
}

chat-tabs md-tab-item:hover .counter {
  opacity: 0;
}

chat-tabs .move-arrow {
  outline: none;
  cursor: pointer;
  top: 12px;
  font-size: 14px;
  position: absolute;
  opacity: 0;
}

chat-tabs .move-arrow.left {
  left: 10px
}

chat-tabs .move-arrow.right {
  right: 10px
}

chat-tabs md-tab-item:hover .move-arrow {
  opacity: 0.65;
}

chat-tabs md-tab-item:first-of-type .move-arrow.left {
  display: none;
}

chat-tabs md-tab-item:nth-last-of-type(2) .move-arrow.right {
  display: none;
}