chat-tabs
  display: block

chat-tabs md-pagination-wrapper
  height: 34px

chat-tabs md-tabs-canvas
  height: 34px

chat-tabs md-tabs-content-wrapper
  top: 34px !important

chat-tabs md-tab-content
  transition: transform 0s 0s !important
  -webkit-animation: none !important
  animation: none !important

chat-tabs .md-tab.md-focused
  background: transparent

chat-tabs md-tab-content > *
  height: 100%

chat-tabs .chat-tabs
  height: 100%

chat-tabs .md-tab
  padding-top: 7px !important

chat-tabs md-tab-label
  position: relative

chat-tabs .counter
  top: 7px
  width: 0
  right: 20px
  font-size: 1.0rem
  position: absolute
  opacity: 0.65

chat-tabs md-tab-item:hover .counter
  opacity: 0

chat-tabs .move-left,
chat-tabs .move-right
  outline: none
  cursor: pointer
  top: 12px
  font-size: 14px
  position: absolute
  opacity: 0

chat-tabs .move-left
  left: 10px

chat-tabs .move-right
  right: 10px

chat-tabs md-tab-item:hover .move-left,
chat-tabs md-tab-item:hover .move-right
  opacity: 0.65

chat-tabs md-tab-item:first-of-type .move-left
  display: none

chat-tabs md-tab-item:nth-last-of-type(2) .move-right
  display: none

chat-tabs .live-indicator,
chat-tabs .rerun-indicator
  font-size: 0.65em
  padding-right: 1px
  position: relative
  top: -1px
  left: -4px

chat-tabs .zmdi-replay
  font-size: 0.75em !important

chat-tabs .live-indicator
  color: rgba(255,0,0,0.8)

chat-tabs .rerun-indicator
  color: rgba(200,200,200,0.8)

