chat-tabs
  display: block

  md-pagination-wrapper
    height: 34px

  md-tabs-canvas
    height: 34px

  md-tabs-content-wrapper
    top: 34px !important

  md-tab-content
    transition: transform 0s 0s !important
    -webkit-animation: none !important
    animation: none !important

  .md-tab.md-focused
    background: transparent

  md-tab-content > *
    height: 100%

  .chat-tabs
    height: 100%

  .md-tab
    padding-top: 7px !important

  md-tab-label
    position: relative

  .counter
    top: 7px
    width: 0
    right: 20px
    font-size: 1.0rem
    position: absolute
    opacity: 0.65

  md-tab-item:hover .counter
    opacity: 0

  .move-left,
  .move-right
    outline: none
    cursor: pointer
    top: 12px
    font-size: 14px
    position: absolute
    opacity: 0

  .move-left
    left: 10px

  .move-right
    right: 10px

  md-tab-item:hover .move-left,
  md-tab-item:hover .move-right
    opacity: 0.65

  md-tab-item:first-of-type .move-left
    display: none

  md-tab-item:nth-last-of-type(2) .move-right
    display: none

  .live-indicator,
  .rerun-indicator
    font-size: 0.65em
    padding-right: 1px
    position: relative
    top: -1px
    left: -4px

  .zmdi-replay
    font-size: 0.75em !important

  .live-indicator
    color: rgba(255,0,0,0.8)

  .rerun-indicator
    color: rgba(200,200,200,0.8)

