user-panel {
  margin-top: -1px;
  font-size: 1.2rem;
}

user-panel .zmdi {
  vertical-align: -1px;
}

user-panel .profile-picture-div {
  width: 53px;
  height: 53px;
  overflow: hidden;
  background-size: cover;
  background-image: url(../../../../assets/default-user-image.png);
}

user-panel .profile-picture {
  width: 100%;
  display: block;
}

user-panel .close-button {
  margin-right: 4px;
}

user-panel .toolbar md-divider.vertical {
  display: inline;
  border-top-style: none;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

user-panel .md-button {
  margin: 0;
  height: 21px;
  min-width: 0;
  min-height: 0;
  padding: 0 2px;
  line-height: normal;
  border-radius: 0 !important;
}

user-panel .toolbar {
  margin-left: 4px;
  margin-right: 4px;
}

user-panel .row {
  height: 16px;
  margin-left: 6px;
  margin-right: 3px;
  line-height: 16px;
}

user-panel .username {
  margin-top: 3px;
  max-width: 113px;
  overflow: hidden;
  text-overflow: ellipsis;
}

user-panel .creation-date {
  font-size: 1.1rem;
}

user-panel .md-button:not([disabled]):hover {
  background-color: inherit;
}