.user-menu-container(layout='row', ng-if='shouldDisplay()')
  .profile-picture-div
    img.profile-picture(ng-if='m.profilePicSrc', ng-src='{{m.profilePicSrc}}')
  .buttons-container(flex='', layout='column')
    .row(layout='row')
      span.username {{capitalize(session.selectedUser)}}
      span(flex='')
      md-button.close-button(ng-click='close()', aria-label='Close')
        md-tooltip(md-autohide='') Close
        i.zmdi.zmdi-close
    .row.lighter.creation-date
      md-tooltip(md-autohide='') Registration date
      | Since {{m.created | date: 'MMM d, y'}}
    .toolbar(layout='row')
      md-button(ng-click='goToChannel()', aria-label='Their channel')
        md-tooltip(md-autohide='') Their Channel
        i.zmdi.zmdi-open-in-new
      md-button(ng-click='sendMessage()', aria-label='Message')
        md-tooltip(md-autohide='') Message Via Website
        i.zmdi.zmdi-email
      md-button(ng-click='whisper()', aria-label='Whisper')
        md-tooltip(md-autohide='') Whisper
        i.zmdi.zmdi-comment-more
      span(flex='')
      span(ng-class='{disabled: !amMod()}')
        md-button(ng-click='purge()', aria-label='Purge')
          md-tooltip(md-autohide='') Purge (3s)
          i.zmdi.zmdi-replay-5
        md-button(ng-click='timeout()', aria-label='Timeout')
          md-tooltip(md-autohide='') Timeout (10m)
          i.zmdi.zmdi-time-restore
        md-button(ng-click='ban()', aria-label='Ban')
          md-tooltip(md-autohide='') Ban
          i.zmdi.zmdi-block
md-divider(ng-if='shouldDisplay()')
