<md-whiteframe class="md-whiteframe-z4 container">
  <div class="emote-list">
    <div class="category" ng-repeat="category in m.categories">
      <div
        class="category-label"
        ng-if="category.emotes.length"
      >
        {{category.label}}
      </div>
      <div class="emotes">
        <img
          class="emoticon"
          ng-repeat="emote in category.emotes"
          src="{{emote.url}}"
          data-emote-name="{{emote.emote}}"
          ng-click="choose(emote.emote)"
        />
      </div>
    </div>
  </div>
</md-whiteframe>