<md-tabs md-selected="settings.selectedTabIndex" md-no-bar md-no-pagination
         md-dynamic-height ng-show="settings.appearance.chatters">
  <md-tab ng-repeat="channel in settings.channels" label="...">
    <chatters channel="channel"></chatters>
  </md-tab>
  <md-tab label="...">
    <!-- md-tab need label and must not be empty -->
    &nbsp;
  </md-tab>
</md-tabs>

<md-button
  ng-click="settings.appearance.chatters = !settings.appearance.chatters"
  aria-label="Hide list" class="toggle-button"
  ng-class="{'hide-button': settings.appearance.chatters, collapsed: !settings.appearance.chatters}">
  <md-tooltip md-autohide ng-if="settings.appearance.chatters">
    Hide list
  </md-tooltip>
  <md-tooltip md-autohide ng-if="!settings.appearance.chatters">
    Show viewer list
  </md-tooltip>
  <i class="zmdi zmdi-chevron-up"></i>
</md-button>