::-webkit-scrollbar{width: 3px;}
::-webkit-scrollbar-thumb{background-color:rgb(196, 196, 196); border-radius: 0px;}
::-webkit-scrollbar-thumb:hover{background-color: rgb(152, 152, 152);}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	border: 1px solid #e1e1e1;
}

a {
    text-decoration: none;
    color: #008CD0;
}

.side-bar {
	width: 190px !important;
	min-width: 0 !important;
}