chat {
	display: block;
	overflow: auto;
	padding-left: 15px;
	font-size: 1.4rem;
}

chat .emoticon {
	display: inline-block;
	vertical-align: 5px;
	margin: -9px 0;
}

chat .chat-lines {
	padding-top: 10px;
}

chat .chat-line {
	padding: 4px 0;
	word-wrap: break-word;
}

chat .chat-line .colon {
	margin-right: 2px;
}

chat .chat-line .username {
	font-weight: bold;
}