<div layout="row" class="cp-toolbar" ng-if="channel()">
	<span flex></span>
	<md-button ng-click="leave()">
		<md-tooltip md-autohide>
			Leave channel
		</md-tooltip>
		<i class="mdi mdi-close"></i>
	</md-button>
	<md-button ng-click="openStream()">
		<md-tooltip md-autohide>
			Stream popout
		</md-tooltip>
		<i class="mdi mdi-slideshow"></i>
	</md-button>
	<md-button ng-click="openChannel()">
		<md-tooltip md-autohide>
			Go to channel
		</md-tooltip>
		<i class="mdi mdi-open-in-new"></i>
	</md-button>
</div>