chat-output::-webkit-scrollbar {
    width: 4px;
}

chat-output::-webkit-scrollbar-thumb {
    background-color:rgba(0, 0, 0, .3);
    border-radius: 2px;
}

chat-output {
    -webkit-user-select: text;
    user-select: text;
	display: block;
	overflow: auto;
	height: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding-left: 15px;
	font-size: 1.4rem;
}

chat-output .timestamp {
    font-size: 1rem;
}

chat-output .emoticon, 
chat-output .badge {
	display: inline-block;
	vertical-align: 5px;
	margin: -9px 0;
}

chat-output .emoticon {
    bottom: -4px;
    max-height: 30px;
    margin-top: -30px;
    position: relative;
}

chat-output .badge:not(:first-child) {
	margin-left: 3px;
}

chat-output .username {
    outline: none;
    cursor: pointer;
}

chat-output .username:hover {
    text-decoration: underline;
}

chat-output .chat-lines {
	padding-top: 10px;
}

chat-output .chat-line {
	padding: 4px 0;
    line-height: 17px;
	word-wrap: break-word;
}

chat-output .chat-line .separator {
	margin-right: 2px;
}

chat-output .chat-line .username {
	font-weight: bold;
}

chat-output .highlighted {
    background-color: rgba(255, 0, 0, 0.3);
}