chat-tabs {
	display: block;
}

/* TODO geting rid of animations for performance, it's dirty */
chat-tabs md-tab-content {
	/*transition: transform 0s 3s !important;*/
	transition: transform 0s 300ms !important;
	-webkit-animation: none !important;
	animation: none !important;
}

chat-tabs .chat-tabs {
	height: 100%;
}

chat-tabs .md-tab {
    padding-top: 3px;
    padding-bottom: 3px !important;
}