<md-tabs md-no-ink class="chat-tabs" flex md-selected="settings.selectedTabIndex" md-border-bottom>
	<md-tab ng-repeat="channel in settings.channels" label="{{channel}}"
            md-on-select="setVisibilityDelayed(channel, true)"
            md-on-deselect="setVisibilityDelayed(channel, false)">
		<chat-output channel="channel" ng-if="visible[channel]"></chat-output>
	</md-tab>
	<md-tab>
		<md-tab-label>
			<i class="mdi mdi-add mdi-lg"></i>
		</md-tab-label>
		<md-tab-body>
			<add-channel></add-channel>
		</md-tab-body>
	</md-tab>
</md-tabs>