chat-tabs {
	display: block;
}

chat-tabs md-tabs-content-wrapper {
    top: 34px;
}

chat-tabs md-tab-content {
	transition: transform 0s 300ms !important;
	-webkit-animation: none !important;
	animation: none !important;
}

chat-tabs .chat-tabs {
	height: 100%;
}

chat-tabs .md-tab {
    padding-top: 5px;
    padding-bottom: 5px !important;
}