<div ng-repeat="(key, value) in api.chatters">
	<h3 ng-if="value.length">{{key | prettyChatterType}}</h3>
	<div class="usernames">
		<div ng-if="key !== 'viewers'" ng-repeat="username in value">{{username}}</div>
		<div ng-if="key === 'viewers' && showViewers()" ng-repeat="username in value">{{username}}</div>
		<div ng-if="key === 'viewers' && !showViewers()" >
			<md-button class="show-more-button" ng-click="showViewers(true)">
				Show all <i class="mdi mdi-expand-more"></i>
			</md-button>
		</div>
	</div>
</div>