login

  .login-overlay
    position: absolute
    top: 0
    left: 0
    z-index: 100
    background-size: cover

  .form
    width: 315px
    padding: 20px
    border-radius: 3px
    background-color: #ffffff
    position: relative
    border: 1px solid #ebebeb

  .login-button
    position: absolute
    bottom: -39px
    right: 9px

  .login-button i
    margin-top: 7px

  .error
    color: rgb(244, 67, 54)
    font-size: 12px
    line-height: 24px
    margin-bottom: 15px

  .generate-link
    display: block
    font-size: 1.4rem
    margin-bottom: 20px

  .password-notice
    margin-top: 0

  .password-warning
    color: darkred

