::-webkit-scrollbar{width: 3px;}
::-webkit-scrollbar-thumb{background-color:rgb(196, 196, 196); border-radius: 0px;}
::-webkit-scrollbar-thumb:hover{background-color: rgb(152, 152, 152);}

html {
	box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	border: 1px solid #e1e1e1;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #008CD0;
    outline: none;
}

.lighter {
    color: #999999;
}

.side-bar {
	width: 190px !important;
	min-width: 0 !important;
}

/* The starting CSS styles for the enter animation */
.slide.ng-enter {
    transition: 1000ms linear all;
    /*margin-bottom:-250px;*/
    opacity: 0;
}

/* The starting CSS styles for the enter animation */
.slide.ng-enter.ng-enter-active {
    /*margin-bottom: 0;*/
    opacity: 1;
}