::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0px;
}

:hover::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, .5);
}

:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .3);
}

@font-face {
  font-family: 'Roboto';
  src: url('../bower_components/roboto-fontface/fonts/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('../bower_components/roboto-fontface/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../bower_components/roboto-fontface/fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('../bower_components/roboto-fontface/fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
}

html {
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  font-size: 10px;
  height: 100vh;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  border-top: 1px solid rgba(0, 0, 0, 0.04);
  font-size: 1.4em;
  overflow: hidden;
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #008CD0;
  outline: none;
}

md-sidenav {
  background-color: transparent;
  transition: margin-left 250ms ease-out;
}

md-sidenav.collapsed {
  margin-left: -174px;
}

md-toast {
  bottom: 45px !important;
}

.lighter {
  color: #999999;
}

.app {
  opacity: 0;
  height: 100%;
}

.app > .main, .app > .login {
  height: 100%;
}

.side-bar {
  width: 190px !important;
  min-width: 0 !important;
}

/* The starting CSS styles for the enter animation */
.slide.ng-enter {
  transition: 1000ms ease-out all;
  opacity: 0;
}

/* The starting CSS styles for the enter animation */
.slide.ng-enter.ng-enter-active {
  opacity: 1;
}

/* Loading animation */
.loader {
  height: 100vh;
  width: 100vw;
  background-color: rgb(77, 86, 93);
  position: absolute;
  top: 0;
  left: 0;
}

.sk-cube-grid {
  position: absolute;
  width: 80px;
  height: 80px;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: rgba(255, 255, 255, 0.95);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}