.login-overlay(layout-fill='', layout='row', layout-align='center center')
  .form.md-whiteframe-z2(layout-padding='')
    .error(ng-if='irc.badLogin')
      div {{irc.badLogin}}
      md-divider
    md-input-container
      label Username
      input(ng-if='!m.haveUsername', ng-model='m.username', auto-focus='')
      |  
      input(ng-if='m.haveUsername', ng-model='m.username')
    form(ng-submit='login()')
      md-input-container
        label Oauth token
        input(ng-if='m.haveUsername', ng-model='m.password', type='password', ng-keyup='trimPassword()', auto-focus='')
        |  
        input(ng-if='!m.haveUsername', ng-model='m.password', type='password', ng-keyup='trimPassword()')
    p.password-warning(ng-if='doesntLookLikeToken()') You must use a token, not your password.
    p.password-notice This is not your regular account password, you need to generate a special "oauth token".
    a.generate-link(ng-click='generate()') Click here to generate your token
    md-button.login-button.md-fab.md-primary(aria-label='Log in', ng-disabled='!m.password || doesntLookLikeToken()', ng-click='login()')
      i.zmdi.zmdi-arrow-right.zmdi-hc-lg
