chat-output
  .emoticon
    &[data-emote-name="IceCold"]
      max-height: unset
      margin-left: -35px

    &[data-emote-name="SantaHat"]
      max-height: unset
      margin-left: -34px
      margin-bottom: -1px

    &[data-emote-name="TopHat"]
      max-height: unset
      margin-left: -32px
      margin-bottom: -2px

    &[data-emote-name="SoSnowy"],
    &[data-emote-name="CandyCane"],
    &[data-emote-name="ReinDeer"]
      max-height: unset
      margin-left: -33px

    &[data-emote-name="HalloFedora"],
    &[data-emote-name="HalloWitch"],
    &[data-emote-name="HalloKKona"],
    &[data-emote-name="HalloHalo"],
    &[data-emote-name="HalloPirate"],
    &[data-emote-name="HalloHorns"]
      max-height: unset
      margin-left: -32px
