<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <title>Tc</title>

    <script>
      // TODO Investigate why this is necessary
      if (process.platform === 'darwin') {
        document.querySelector('html').style.marginTop = '-1px';
        document.querySelector('html').style.height = 'calc(100vh + 1px)';
      }
    </script>

  </head>
  <body>

    <div
      ng-app="tc"
      class="app"
      layout="column"
      ng-controller="main"
      ng-class="{dark: settings.theme.dark}"
      ng-cloak
    >
      <section ng-if="!needLogin()" layout="row" flex class="main">
        <md-sidenav
          layout="column"
          md-is-locked-open="true"
          class="side-bar md-sidenav-left md-whiteframe-z2"
          ng-class="{collapsed: settings.appearance.sidebarCollapsed}"
        >
          <side-toolbar></side-toolbar>
          <md-divider></md-divider>
          <thumbnail
            ng-if="showingThumbnail()
            && !settings.appearance.sidebarCollapsed
            && settings.appearance.thumbnail"
          >
          </thumbnail>
          <user-panel ng-if="expanded()"></user-panel>
          <chatters-tabs
            ng-class="{collapsed: !settings.appearance.chatters}"
            flex ng-show="expanded()">
          </chatters-tabs>
        </md-sidenav>

        <section layout="column" flex>
          <chat-tabs flex></chat-tabs>
          <md-divider></md-divider>
          <chat-input></chat-input>
        </section>
      </section>

      <login ng-show="needLogin()" class="login"></login>
    </div>

    <div class="loader">
      <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
      </div>
    </div>

    <!-- TODO use the browser version instead, but no work with electron -->
    <script>//window.$ = window.jQuery = require('jquery');</script>

    <script src="renderer.js"></script>
  </body>
</html>
