<input
  ng-model="searchText"
  ng-focus="showViewers(true)"
  placeholder="Filter chatters - {{api.chatter_count | number}}"
  ng-show="api.chatter_count > 50"
  ng-model-options="{debounce: 300}"
>

<div ng-repeat="(key, value) in api.chatters">
  <h3 ng-if="value.length">{{prettyChatterNames(key)}}</h3>
  <div class="usernames">
    <!-- Not DRY because this has better performance -->
    <div ng-if="key !== 'viewers'">
      <div ng-repeat="username in value | filter:searchText">
        <span class="chatter"
              ng-click="selectUser(username)">{{username}}</span>
      </div>
    </div>
    <div ng-if="key === 'viewers' && !tooManyNotDoable()">
      <div ng-repeat="username in value | limitTo: showViewers()? Infinity : 0 | filter:searchText">
        <span class="chatter"
              ng-click="selectUser(username)">{{username}}</span>
      </div>
    </div>
    <div ng-if="key === 'viewers' && !tooManyNotDoable() && !showViewers()">
      <md-button class="show-more-button" ng-click="showViewers(true)">
        Too many, show all? <i class="zmdi zmdi-expand-more"></i>
      </md-button>
    </div>
    <div ng-if="key === 'viewers' && tooManyNotDoable()">Too Many!</div>
  </div>
</div>