user-menu {
    font-size: 1.2rem;
}

user-menu .mdi {
	vertical-align: -1px;
}

user-menu .profile-picture {
    display: block;
    height: 53px;
    width: 53px;
}

user-menu .close-button {
    margin-right: 4px;
}

user-menu .toolbar md-divider.vertical {
	display: inline;
	border-top-style: none;
	border-right: 1px solid rgba(0, 0, 0, 0.12);
}

user-menu .md-button {
	min-width: 0;
	border-radius: 0 !important;
	margin: 0;
	line-height: normal;
    height: 21px;
    padding: 0 2px;
}

user-menu .toolbar {
    margin-left: 4px;
}

user-menu .row {
    margin-left: 6px;
    line-height: 16px;
    height: 16px;
}

user-menu .username {
    margin-top: 3px;
}

user-menu .creation-date {
    font-size: 1.1rem;
}