<!DOCTYPE html>
<html>
	<head lang="en">
        <meta charset="utf-8">
        <title>Tc</title>

        <!-- build:css style.css -->
        <link rel="stylesheet" href="bower_components/frosty/dist/css/frosty.min.css">
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
        <link rel="stylesheet" href="bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css">

		<link rel="stylesheet" href="ng/app.css">
        <link rel="stylesheet" href="ng/themes/dark.css">
        <link rel="stylesheet" href="ng/login/login.css">
		<link rel="stylesheet" href="ng/side-toolbar/side-toolbar.css">
		<link rel="stylesheet" href="ng/chat/chat-options.directive.css">
		<link rel="stylesheet" href="ng/chat-output/chat-output.css">
		<link rel="stylesheet" href="ng/chat-tabs/chat-tabs.css">
        <link rel="stylesheet" href="ng/chatters/chatters.css">
		<link rel="stylesheet" href="ng/chatters-tabs/chatters-tabs.css">
		<link rel="stylesheet" href="ng/chat-input/chat-input.css">
		<link rel="stylesheet" href="ng/add-channel/add-channel.css">
        <link rel="stylesheet" href="ng/user-panel/user-panel.css">
        <link rel="stylesheet" href="ng/thumbnail/thumbnail.css">
        <link rel="stylesheet" href="ng/highlights/highlights-options.directive.css">
        <link rel="stylesheet" href="ng/settings-panel/settings-panel.css">
        <link rel="stylesheet" href="ng/settings-panel/settings-gui-dialog.css">
        <!-- endbuild -->
	</head>
	<body layout="column" ng-controller="main" ng-class="{dark: settings.theme.dark}" ng-cloak>

		<section layout="row" flex>
			<md-sidenav layout="column"
                        md-is-locked-open="true"
                        class="side-bar md-sidenav-left md-whiteframe-z2"
                        ng-class="{collapsed: settings.appearance.sidebarCollapsed}">
				<side-toolbar></side-toolbar>
				<md-divider></md-divider>
                <thumbnail ng-if="showingThumbnail() && !settings.appearance.sidebarCollapsed && settings.appearance.thumbnail"></thumbnail>
                <user-panel ng-if="expanded()"></user-panel>
				<chatters-tabs ng-class="{collapsed: !settings.appearance.chatters}" flex ng-show="expanded()"></chatters-tabs>
			</md-sidenav>

			<section layout="column" flex>
				<chat-tabs flex></chat-tabs>
				<md-divider></md-divider>
				<chat-input></chat-input>
			</section>
		</section>

        <!-- TODO ng-if causes error with animation -->
		<login ng-show="needLogin()"></login>

        <!-- build:js app.js -->
        <script src="bower_components/nwjs-preserve-window-state/winstate.js"></script>

        <script src="tmi-0.0.24.js"></script>
		<script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/lodash/lodash.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-aria/angular-aria.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-material/angular-material.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/frosty/dist/js/frosty.min.js"></script>

		<script src="ng/app.js"></script>
        <script src="ng/global/main.controller.js"></script>

        <script src="ng/on-load/dev-tools-hotkey.js"></script>
        <script src="ng/on-load/prevent-default-click.js"></script>
        <script src="ng/on-load/eager-load-providers.run.js"></script>
        <script src="ng/on-load/window-behavior-setup.run.js"></script>


        <script src="ng/login/login.js"></script>
        <script src="ng/settings-panel/settings-panel.js"></script>

		<script src="ng/side-toolbar/side-toolbar.js"></script>

		<script src="ng/chat-input/chat-input.js"></script>
		<script src="ng/chat-output/chat-output.js"></script>
		<script src="ng/chat-tabs/chat-tabs.js"></script>

        <script src="ng/user-panel/user-panel.js"></script>
        <script src="ng/thumbnail/thumbnail.js"></script>

		<script src="ng/chatters/chatters.js"></script>
		<script src="ng/chatters-tabs/chatters-tabs.js"></script>

		<script src="ng/add-channel/add-channel.js"></script>

        <script src="ng/providers/settings.provider.js"></script>
        <script src="ng/providers/session.provider.js"></script>
        <script src="ng/providers/tmi.provider.js"></script>
		<script src="ng/providers/irc.provider.js"></script>
        <!--<script src="ng/providers/gui.provider.js"></script>-->
        <script src="ng/providers/api.provider.js"></script>
        <script src="ng/providers/ffz.provider.js"></script>
        <script src="ng/providers/bttv.provider.js"></script>
        <script src="ng/providers/lodash.provider.js"></script>
        <script src="ng/providers/settings-gui.provider.js"></script>
        <script src="ng/providers/channels.provider.js"></script>
        <script src="ng/providers/title-manager.provider.js"></script>
        <script src="ng/providers/zoom-manager.provider.js"></script>
        <script src="ng/providers/messages.provider.js"></script>
        <script src="ng/providers/update-checker.provider.js"></script>

        <script src="ng/highlights/highlights.provider.js"></script>
        <script src="ng/highlights/highlights-options.directive.js"></script>

		<script src="ng/filters/strip-hash.js"></script>
		<script src="ng/filters/emotify.js"></script>
        <script src="ng/filters/ffzfy.js"></script>
        <script src="ng/filters/bttvmotes.js"></script>
        <script src="ng/filters/linkify.js"></script>
        <script src="ng/filters/escape.js"></script>
        <script src="ng/filters/combine.js"></script>
		<script src="ng/filters/capitalize.js"></script>
		<script src="ng/filters/pretty-chatter-type.js"></script>

        <script src="ng/tab-completion/tab-completion.directive.js"></script>
        <script src="ng/external-links/href-external.directive.js"></script>

        <script src="ng/notifications/notifications.provider.js"></script>
        <script src="ng/notifications/notifications-options.directive.js"></script>

        <script src="ng/chat/chat-options.directive.js"></script>

		<script src="ng/util/auto-focus.js"></script>
        <script src="ng/util/bind-html-compile.directive.js"></script>
        <!-- endbuild -->

	</body>
</html>
