chat-output {
	display: block;
	overflow: auto;
	height: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding-left: 15px;
	font-size: 1.4rem;
}

chat-output .emoticon, 
chat-output .badge {
	display: inline-block;
	vertical-align: 5px;
	margin: -9px 0;
}

chat-output .badge:not(:first-child) {
	margin-left: 3px;
}

chat-output .username {
    outline: none;
}

chat-output .chat-lines {
	padding-top: 10px;
}

chat-output .chat-line {
	padding: 4px 0;
	word-wrap: break-word;
}

chat-output .chat-line .separator {
	margin-right: 2px;
}

chat-output .chat-line .username {
	font-weight: bold;
}