.chatters
  -webkit-user-select: text
  user-select: text
  font-size: 1.2rem

  .md-button
    font-size: 1.2rem

  h3
    margin: 5px 0 0
    font-size: 1.4rem

  .show-more-button
    width: 100%
    margin: 0
    text-align: left
    text-transform: none
    padding: 0

  .chatter
    cursor: pointer
    outline: none
    color: rgba(0, 0, 0, 0.54)

  .chatter:hover
    text-decoration: underline

  input
    border: none
    outline: none
    cursor: pointer
    margin: 5px 0
    background-color: transparent

  input:focus
    cursor: default

